<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Board - Delete</title>
        <style>
    img{
      width:100%;
    }
  </style>
  </head>
  <body>
<div>
  {% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
<p>This board is {{board.status}}</p>
<h2>Title</h2>
<h3>{{board.title}}</h3>
<h2>Description</h2>
<p>{{board.description}}</p>
  {% if board.cover %}
  <h4>Board's Cover Photo</h4>
  <img src="{{board.cover.url}}" alt="board-cover" />
  {% else %}
  <h3>This Board {{board.title}} has no cover photo</h3>
  {% endif %}
</div>
<br>
<br>
     <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Delete Pin</button>
    </form>
  </body>
</html>