<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type"
  content="text/html; charset=utf-8" />
    <title>Pin-Edit Pin</title>
  </head>
      <style>
    img{
      width:100%;
    }
  </style>
  <body>
<div>
  <h4>{{pin.date_updated|timesince}} ago</h4>
  <h3>Pin File</h3>
  {% if pin.extension == '.jpg' %}
<img src="{{pin.file.url}}" alt="">
{% elif pin.extension == '.mp4' %}
<video controls>
  <source src="{{pin.file.url}}" type="video/mp4">
</video>
{% endif %}
<p>From Board <a href="{% url 'board' pin.board.id %}">{{pin.board}}</a></p>
<br>
  </div>
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Save Changes</button>
    </form>
    
  </body>
</html>