 <!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>

<body>
  {% if request.user == profile.user %}
 <form method="post" enctype="multipart/form-data">
   
   {% csrf_token %}
    {{user_form.as_p}}
   {{form.as_p}}
   <button type="submit">Save changes</button>
 </form>
 <br>
 <br>
 <a href="{% url 'account_email' %}">Change Email</a>
 {% else %}
 <p>seems like you are lost</p>
 <a href="{% url 'profile' request.user.profile.id %}">Go back</a>
 {% endif %}
</body>

</html>
