<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pin</title>
    <style>
    img{
      width:100%;
    }
  </style>
</head>

<body>
<a href="{{request.META.HTTP_REFERER}}">Go back</a>
<a href="{% url 'home' %}">Go home</a>
  <br>
  {% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}

{% if pin.board.status == 'public' %}
    <div>
    <h4>{{pin.date_updated|timesince}} ago</h4>
{% if pin.get_type == 'image' %}
<img src="{{pin.file.url}}" alt="">
{% elif pin.get_type == 'video' %}
<video controls>
  <source src="{{pin.file.url}}" type="video/mp4">
</video>
{% endif %}
<p>{{pin.name}}</p>
<p>{{pin.description}}</p>
<a href="{% url 'profile' pin.user.profile.id %}">{{pin.user}}</a>
<br>
<br>
{% if pin.board.status == 'public' %}
<p>From Board <a href="{% url 'board' pin.board.id %}">{{pin.board}}</a></p>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{save_form.as_p}}
  <button>Save Pin</button>
</form>
<br>
{% if pin.user == request.user %}
<a href="{% url 'edit_pin' pin.id %}">Edit Pin</a>
 <a href="{% url 'delete_pin' pin.id %}">Delete Pin</a>
  {% endif %}
<h3>Comments</h3>
{% for comment in comments %}
<div>
<p>{{comment.date_created}}</p>

<a href="{% url 'profile' comment.user.profile.id %}">{{comment.user}}</a>
{% if comment.user == request.user %}
 <a href="{% url 'delete_comment' comment.id %}">remove</a>
 {% endif %}
<p>{{comment.body}}</p>
<hr>
</div>
{% empty %}
<h2>No comments</h2>
{% endfor %}
<form method="post">
  {% csrf_token %}
  
  {{form.as_p}}
  <button type="submit">Add comment</button>
</form>
  </div>
  
{% elif pin.user == request.user and pin.board.status == 'private' %}
  <div>
    <h4>{{pin.date_updated|timesince}} ago</h4>
{% if pin.get_type == 'image' %}
<img src="{{pin.file.url}}" alt="">
{% elif pin.get_type == 'video' %}
<video controls>
  <source src="{{pin.file.url}}" type="video/mp4">
</video>
{% endif %}
<p>{{pin.name}}</p>
<p>{{pin.description}}</p>
<a href="{% url 'profile' pin.user.profile.id %}">{{pin.user}}</a>
<br>
<br>
{% if pin.board.status == 'public' %}
<p>From Board <a href="{% url 'board' pin.board.id %}">{{pin.board}}</a></p>
{% elif pin.board.status == 'private' %}
{% endif %}
<br>
 <a href="{% url 'edit_pin' pin.id %}">Edit Pin</a>
 <a href="{% url 'delete_pin' pin.id %}">Delete Pin</a>
  </div>
{% else %}
  <p>Seems you are lost!</p>
  {% endif %}
</body>

</html>