<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile</title>
  <style>
    img{
      width:100%;
    }
    video{
      width:100%;
    }
  </style>
</head>

<body>
   <a href="{{request.META.HTTP_REFERER}}">Go back</a>
  <br>
  <a href="{% url 'home' %}">Go home</a>
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% if request.user == profile.user %}
<h3>Your Profile</h3>
{% else %}
<h3>{{profile.user.username}}'s Profile</h3>
{% endif %}
<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.email}}</p>
<p> {{profile.bio}}</p>
 <a href="{{profile.website_link}}">{{profile.website_link}}</a>
<br>
<br>
{% if request.user == profile.user %}
<a href="{% url 'edit_profile' profile.id %}">Edit Profile</a>
<h2>Boards({{boards_count}})</h2>
{% else %}
<h2>Public Boards({{public_boards_count}})</h2>
{% endif %}
{% for board in boards %}
{% if request.user == profile.user and board.status == 'private' or board.status == 'public' %}
<a href="{% url 'board' board.id %}">{{board.title}}</a>
{% elif request.user != profile.user and board.status == 'public' %}
<a href="{% url 'board' board.id %}">{{board.title}}</a>
{% endif %}
{% endfor %}
<br>
<br>
{% if profile.user == request.user %}
<h2>Pins({{pins_count}})</h2>
{% else %}
<h2>All Pins</h2>
{% endif %}
{% for pin in pins %}
{% if pin.board.status == 'public' %}
<a href="{% url 'pin_detail' pin.id %}">
{% if pin.get_type == 'image' %}
<img src="{{pin.file.url}}" alt="">
{% elif pin.get_type == 'video' %}
<video controls>
  <source src="{{pin.file.url}}" type="video/mp4">
</video>
{% endif %}
<br>
<br>
</a>
<br>
<br>
{% elif profile.user == request.user and pin.board.status == 'private' %}
<a href="{% url 'pin_detail' pin.id %}">
{% if pin.get_type == 'image' %}
<img src="{{pin.file.url}}" alt="">
{% elif pin.get_type == 'video' %}
<video controls>
  <source src="{{pin.file.url}}" type="video/mp4">
</video>
{% endif %}
<br>
<br>
</a>
<br>
<br>
{% endif %}
{% endfor %}

</body>

</html>
