<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Search - Pins and Boards</title>
  </head>
  <body>
    <div>
 <form method="GET" value="{{request.GET.q}}">
   <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Pins"/>
<input type="submit" name="submit" value="Search"/>
</form>

{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>"{{ request.GET.q }}"</b></h1>
<br/><br/>

{% for result in results %}

{{result.name}}
<br/>

{{result.description}}
<br/>

{% endfor %}
{% else %}
No search results for this query
{% endif %}
{% endif %}
    </div>
  </body>
</html>